@{
    ViewData["Title"] = "Clients";
}

<partial name="Partials/Sections/_AddClientForm" />

<partial name="Partials/Sections/_EditClientForm" />

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>@ViewData["Title"]</h2>


    <button class="btn btn-blue btn-pad btn-size" data-modal="true" data-target="#addClientModal">
        <i class="fa-solid fa-plus"></i> Add Client
    </button>
</div>

<div class="surface">
    <partial name="Partials/Sections/_ClientList" />
</div>
