<div class="client-list">
    <table>
        <thead>
            <tr>
                <th class="client-check"><input type="checkbox" /></th>
                <th class="client-info">Client Name</th>
                <th class="client-location">Location</th>
                <th class="client-phone">Phone</th>
                <th class="client-date">Date</th>
                <th class="client-status">Status</th>
                <th class="client-action"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="client-check"><input type="checkbox" /></td>
                <td class="client-info">
                    <div class="info">
                        <img class="client-image" src="~/images/Avatar.svg" />
                        <div class="client-name">GYK Fastighetsservice</div>
                        <div class="client-email">Gykfastigheter@gmail.com</div>
                    </div>
                </td>
                <td class="client-location">Stockholm, Sweden</td>
                <td class="client-phone">+46 73 758 73 43</td>
                <td class="client-date">25-03-12</td>
                <td class="client-status">
                    <div class="badge-success">
                        active
                    </div>
                </td>
                <td class="client-actions">
                    <i class="fa-solid fa-ellipsis" data-modal="true" data-target="#EditClientModal"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
